* {
    padding: 10;
    font-family: Karla;
}

h1 {
    
    width: 500px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.weatherdata {
    display: flex;
    justify-content: center;

}

.info {
    padding: 50px;
}

.rinfo {
    margin-left: 50px;
}

.cities h4{
    display: flex;
    justify-content: center ;
}